@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap') ;

body {
  background-color: #fafafa;
}

header {
  display: flex;
  flex-direction: column;
  max-width: none;
}

a {
  text-decoration: none;
}

.header-title {
  align-items: center;
  background-color: #023031;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 114px;
  justify-content: space-between;
  padding: 0 35px;
}

.header-title img {
  height: 90px;
  margin-bottom: 25px;
}

.header-nav {
  background-color: white;
  display: flex;
  height: 78px;
  justify-content: space-between;
  margin-top: 3px;
  width: 100%;
}

.user-badge {
  background: white;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 41.65px;
  padding-top: 13px;
  position: relative;
  text-align: center;
  width: 198.7px;
}

.user-badge img {
  height: 36.44px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 36.44px;
}

.user-badge div {
  font-family: Epilogue , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.nav-option {
  align-items: center;
  background-color: #f0f2f5;
  color: #2FC18C;
  display: flex;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Epilogue' , sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: 29px;
  text-decoration: none;
  width: 33.2%;
}

.search-bar {
  display: flex;
  height: 45px;
  justify-content: center;
  margin: 5.5em auto 0;
  max-width: 680px;
  position: relative;
}

.search-bar input {
  background: white;
  border: 1px solid #3d495c;
  border-radius: 6px;
  box-sizing: border-box;
  gap: 10px;
  margin-right: 1em;
  padding: 12px 16px;
  width: 519px;
}

.search-bar img {
  left: 490px;
  position: absolute;
  top: 10px;
}

.search-bar button {
  background: #003be5;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 134px;
}

.loading-text {
  color: #023031;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 65px;
  margin: 185px auto 0;
  width: 418px;
}

.search-card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 112px;
}

.album-card {
  background: white;
  border: 1px solid #e1e5eb;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06) , 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 320px;
  margin: 12.5px;
  width: 290px;
}

.bliu {
  border-radius: 6px 6px 0 0;
  height: 180px;
  overflow: hidden;
  width: 290px;
}

.album-card img {
  width: 290px;
}

.album-card h2 {
  color: #3d495c;
  font-family: Verdana , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 16px 16px 8px;
  text-decoration: none;
}

.album-card p {
  color: #3d495c;
  font-family: Verdana , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 16px;
  text-decoration: none;
}

.result-name, .fav-musics {
  color: #001813;
  display: block;
  font-family: Epilogue , sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  margin: 112px 0 40px 112px;
}

.music-card, .album-music-card {
  align-items: center;
  display: flex;
  margin: auto;
  padding: 26px 0 24px;
  position: relative;
  width: 1079px;
}

.album-music-card {
  justify-content: space-evenly;
  width: 798px;
}

.music-card:after, .album-music-card:after {
  border: 1px solid #e1e5eb;
  content: '';
  height: 0;
  position: absolute;
  top: 0;
  width: 1079px;
}

.album-music-card:after {
  width: 798px;
}

.disk-icon {
  border-radius: 100%;
  height: 61px;
  margin-left: 102px;
  margin-right: 68px;
  width: 61px;
}

.fav-icon {
  height: 25px;
  width: 25px;
}

.music-card p, .album-music-card p {
  font-family: Epilogue , sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-right: 17px;
}

.music-card audio .album-music-card audio{
  margin-right: 38px;
}

.page-album {
  display: flex;
}

.album-info {
  margin: 161px 79px 0 179px;
  width: 300px;
}

.album-info img {
  height: 290px;
  width: 290px;
}

.album-info h1 {
  color: #023031;
  font-family: Epilogue , sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
}

.album-info p {
  color: #023031;
  font-family: Epilogue , sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin: 104px auto;
  width: 310px;
}

.profile-container a {
  align-items: center;
  border: 1px solid #003be5;
  border-radius: 6px;
  color: #003be5;
  display: flex;
  font-family: Verdana , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 32px;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 132%;
  text-align: center;
  text-decoration: none;
  width: 119px;
}
